:root {
    --accent-white: #fff;
    --accent-black: #000;
    --accent-red: #EB0028;
    --accent-gray-10: #969696;
    --accent-gray-20: #9B9B9B;
    --accent-gray-30: #929292;
    --accent-gray-40: #E9E9E9;
}